.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.page {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}
#result-image {
  width: 200px;
  height: auto;
}
